.about
  &__description
    margin-bottom 0
    font-size .9rem
    @media (max-width 768px)
      margin-bottom 2rem
  
    max-width 300px
    margin-right auto
    margin-left auto
    &:not(:last-child)
      margin-bottom 2rem

  @media (max-width 768px)
    text-align center