.listContacts
  &__item
    padding-left 4rem
    list-style none
    font-size 0.9rem
    line-height 1.4rem
    color #A2A2A2
    margin-bottom 2rem
    @media (min-width 1000px)
      font-size 1.2rem
      line-height 2.4rem
    &_phone
      i
        left -0.001rem
    
        
  &__icon
    position absolute
    left -0.1rem
    top 0.5rem
    font-size 1.6rem
    color #B2B2B2
    @media (max-width 768px)
      left -0.0001rem
      
    


