.listContacts
  &__item
    padding-left 3.5rem
    list-style none
    font-size 1.4rem
    line-height 2.8rem
    color #A2A2A2
    margin-bottom 2rem
    &_phone
      i
        left -0.001rem
    @media (max-width 768px)
      font-size 0.9rem
      line-height 1.4rem
        
  &__icon
    position absolute
    left -0.1rem
    top 0.5rem
    font-size 1.6rem
    color #B2B2B2
    @media (max-width 768px)
      left -0.0001rem
      
    


