.sidebar
  position fixed
  background -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/banner.jpg') no-repeat center / cover
  background -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/banner.jpg') no-repeat center / cover
  background linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/banner.jpg') no-repeat center / cover
  top 0
  left 0
  bottom 0
