section.footer
  a.footer__icon(href='#')
    i.fa.fa-twitter.fa-2x
  a.footer__icon(href='#')
    i.fa.fa-github.fa-2x
  a.footer__icon(href='#')
    i.fa.fa-dribbble.fa-2x
  a.footer__icon(href='#')
    i.fa.fa-envelope-o.fa-2x
  ul.footer__copyrights
    li.
      © Untitled
    li.
      Design: <a class='footer_link link_dotted link_dotted__header' href='#'>HTML5 UP</a>
    li.
      Demo Images: <a class='footer_link link_dotted link_dotted__header' href='#'>Unsplash</a> 
