section.header
  a.image.header__avatar(href='#')
    img(src='images/avatar.png')
  p.header__caption.
    <strong class='header__caption_strata'>I am Strata</strong>, a super simple<br>
    responsive site template freebie<br>
    crafted by <a class='link_dotted link_dotted__header' href='#'>HTML5 UP.</a></h>