section.recentwork.headers
  h2.headers__caption.
    Recent Work

  .row
    .col-sm-12.col-md-6.recentworkArticle
      a.recentworkArticle__image(href='#')
        img(src='./images/work_1.png')
      h3.recentworkArticle__caption.
        Magna sed consequat tempus
      p.recentworkArticle__description.
        Lorem ipsum dolor sit amet nisl sed nullam feugiat.
    .col-sm-12.col-md-6.article
      a.recentworkArticle__image(href='#')
        img(src='./images/work_2.png')
      h3.recentworkArticle__caption.
        Ultricies lacinia interdum
      p.recentworkArticle__description.
        Lorem ipsum dolor sit amet nisl sed nullam feugiat.
    .col-sm-12.col-md-6.article
      a.recentworkArticle__image(href='#')
        img(src='./images/work_3.png')
      h3.recentworkArticle__caption.
        Tortor metus commodo
      p.recentworkArticle__description.
        Lorem ipsum dolor sit amet nisl sed nullam feugiat.
    .col-sm-12.col-md-6.article
      a.recentworkArticle__image(href='#')
        img(src='./images/work_4.png')
      h3.recentworkArticle__caption.
        Quam neque phasellus
      p.recentworkArticle__description.
        Lorem ipsum dolor sit amet nisl sed nullam feugiat.
    .col-sm-12.col-md-6.article
      a.recentworkArticle__image(href='#')
        img(src='./images/work_5.png')
      h3.recentworkArticle__caption.
        Nunc enim commodo aliquet
      p.recentworkArticle__description.
        Lorem ipsum dolor sit amet nisl sed nullam feugiat.
    .col-sm-12.col-md-6.article
      a.recentworkArticle__image(href='#')
        img(src='./images/work_6.png')
      h3.recentworkArticle__caption.
        Risus ornare lacinia
      p.recentworkArticle__description.
        Lorem ipsum dolor sit amet nisl sed nullam feugiat.

  button.button Full Portfolio
  hr.headers__delimeter

