section.recentwork
  .container
    h2.section_caption.
      Recent Work

  .container
    .row
      .col-sm-6.article
        a.image_article
          img(src='./images/work_1.png')
        h3.recentworkArticle_caption.
          Magna sed consequat tempus
        p.recentworkArticle_description.
          Lorem ipsum dolor sit amet nisl sed nullam feugiat.
      .col-sm-6.article
        a.image_article
          img(src='./images/work_2.png')
        h3.recentworkArticle_caption.
          Ultricies lacinia interdum
        p.recentworkArticle_description.
          Lorem ipsum dolor sit amet nisl sed nullam feugiat.
      .col-sm-6.article
        a.image_article
          img(src='./images/work_3.png')
        h3.recentworkArticle_caption.
          Tortor metus commodo
        p.recentworkArticle_description.
          Lorem ipsum dolor sit amet nisl sed nullam feugiat.
      .col-sm-6.article
        a.image_article
          img(src='./images/work_4.png')
        h3.recentworkArticle_caption.
          Quam neque phasellus
        p.recentworkArticle_description.
          Lorem ipsum dolor sit amet nisl sed nullam feugiat.
      .col-sm-6.article
        a.image_article
          img(src='./images/work_5.png')
        h3.recentworkArticle_caption.
          Nunc enim commodo aliquet
        p.recentworkArticle_description.
          Lorem ipsum dolor sit amet nisl sed nullam feugiat.
      .col-sm-6.article
        a.image_article
          img(src='./images/work_6.png')
        h3.recentworkArticle_caption.
          Risus ornare lacinia
        p.recentworkArticle_description.
          Lorem ipsum dolor sit amet nisl sed nullam feugiat.

  .container
    button.button Full Portfolio
    hr.delimeter

