.button
  display inline-block
  text-decoration none
  color #787878
  padding .8rem 2rem
  border-radius 3px
  font-size .8rem
  text-align center
  font-weight 500
  cursor pointer
  border 2px solid #EFEFEF
  transition .4s ease-in-out
  background transparent
  

.button:hover
  border 2px solid #49bf9d
  color #49bf9d
  transition .4s ease-in-out