.headers
  margin 0 auto 4rem auto
  color #787878
  &__caption
    font-size 1.35rem
    color #787878
    margin 0
  &__description
    font-size 1.1rem
    color #787878
    margin 0
    
    @media (max-width 992px)
      font-size .9rem
  &__delimeter
    width 100%
    border none
    border-bottom 2px solid rgba(black, .125)
    margin 1.2rem auto