.headers
  margin 4rem auto 4rem auto
  color #787878
  &__caption
    color #787878
    margin 0
    margin-bottom 3rem
    margin-top 4rem
  &__description
    font-size 1.4rem
    line-height 2.8rem
    color #A2A2A2
    margin 2rem 0rem
    
    @media (max-width 992px)
      font-size .9rem
  &__delimeter
    width 100%
    border none
    border-bottom 2px solid rgba(black, .125)
