.input_block
  input, textarea
    border none
    background #F7F7F7
    color #B2B2B2
    border-radius 0.55rem
    line-height 4rem
    font-size 1.4rem
    padding-left 1rem
    margin-top 1rem
    width 100%
    margin-left 0
    margin-right 0
    @media (max-width 768px)
      line-height 2.2rem
      font-size 1rem
  input:first-child
    margin-right 2rem
  textarea
    resize none

    
