.link_dotted
  display inline-block
  text-decoration none
  transition .3s ease-in-out
  color #A2A2A2
  border-bottom 1px dotted #A2A2A2
  
.link_dotted:hover
  color #49bf9d
  border none
  transition .3s ease-in-out
  
.link_dotted__header
  color rgba(white, 0.5)