*
  box-sizing border-box

html
  font 13pt/1.5 'Source Sans Pro', sans-serif

body
  margin 0
  background white

h1, h2, h3
  line-height 1.75rem
  // font-family 'Source Sans Pro', sans-serif
  margin 0 0 1rem 0
  color #787878

h2
  font-size 1.35rem
  @media (max-width 768px)
    font-size 1.2rem

h3
  font-size 1.15rem
  @media (max-width 768px)
    font-size 1.10rem

a, button
  outline none !important
